<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="com.intebanking.utilities.Reporting"></listener>

</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      
    
    <!--   <class name="com.intebanking.testCases.TC_AddCustomer_Test"/>-->
        
      <!--    <class name="com.intebanking.testCases.Tc_Edit_Cust_Gtpl"/>   -->
     <!--    <class name="com.intebanking.testCases.Tc_Delete_Gtpl"/>    -->
     <class name="com.intebanking.testCases.Tc_Delete_Account_Gtpl"/>
        <!--<class name="com.intebanking.testCases.Tc_New_Account_Gtpl"/>
       <class name="com.intebanking.testCases.Tc_Edit_Account_Gtpl"/>
        <class name="com.intebanking.testCases.Tc_Delete_Account_Gtpl"/> --> 
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 